body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/65/348/desktop-wallpaper-professional-website-backgrounds-designs-black-website-background.jpg);
}
.info{
    height: 100%;
    width: 100%;
}

.info > * {
    font-size: large;
    color:white;
    padding-top: 140px;
    display: flex;
    justify-content:center;
}

h1{
    color:white;
    font-size: 50px;
    display:flex;
    justify-content:center;
}